Repository eighteen73/nebula: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:css, npm run lint:js, composer run lint

Enable revisions by default for post types
  web/app/mu-plugins/nebula-core/includes/classes/Contracts/PostType.php
Due: composer run lint

PHPCS fix
  config/application.php
Due: composer run lint

Version requirements
  README.md
Due: none

Update default DB_HOST for compatibility
  .env.example
Due: none

Correct post type visibility check
  web/app/mu-plugins/nebula-core/includes/classes/Contracts/PostType.php
Due: composer run lint

Update .gitignore
  .gitignore
Due: none

Remove Satellite
  composer.json
Due: none

Bump to PHP 8.3
  composer.json
Due: none

Convert composer.json repositories to an object
  composer.json
Due: none

Apply formatting to composer.json
  composer.json
Due: none

Try migrating to Lefthook for more consistent linting
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yml
  package-lock.json
  package.json
Due: none

Correct orbit version
  composer.json
Due: none

Ignore the husky directory generated by lefthook
  .gitignore
Due: none

Ignore all themes by default (to match plugin behaviour)
  .gitignore
Due: none

New .gitignore layout
  .gitignore
Due: none

Update commands
  lefthook.yml
Due: none

Correct pre-commit hook jobs
  lefthook.yml
Due: none

Fix: run lefthook commands with npx
  lefthook.yml
Due: none

New: .gitignore conflict
  .gitignore
Due: none

NewL strip out nebula-blocks
  composer.json
  package.json
  phpcs.xml
  web/app/mu-plugins/nebula-blocks/.editorconfig
  web/app/mu-plugins/nebula-blocks/.eslintignore
  web/app/mu-plugins/nebula-blocks/.eslintrc.json
  web/app/mu-plugins/nebula-blocks/.gitignore
  web/app/mu-plugins/nebula-blocks/.prettierignore
  web/app/mu-plugins/nebula-blocks/.prettierrc
  web/app/mu-plugins/nebula-blocks/.stylelintignore
  web/app/mu-plugins/nebula-blocks/.stylelintrc.json
  web/app/mu-plugins/nebula-blocks/README.md
  web/app/mu-plugins/nebula-blocks/config/bindings.php
  web/app/mu-plugins/nebula-blocks/includes/classes/Blocks.php
  web/app/mu-plugins/nebula-blocks/includes/plugin.php
  web/app/mu-plugins/nebula-blocks/nebula-blocks.php
  web/app/mu-plugins/nebula-blocks/package-lock.json
  web/app/mu-plugins/nebula-blocks/package.json
  web/app/mu-plugins/nebula-blocks/postcss.config.js
  web/app/mu-plugins/nebula-blocks/scripts/create-block.js
  web/app/mu-plugins/nebula-blocks/src/.gitkeep
Due: npm run lint:js, composer run lint

New: remove nebula-blocks from gitignore
  .gitignore
Due: none

Update lefthook to exclude build directory code
  lefthook.yml
Due: none

Fix: build exclusion decaration
  lefthook.yml
Due: none

Add sort-packages to composer.json
  composer.json
Due: none

Add an includes directory for splitting config files
  config/application.php
  config/includes/.gitkeep
Due: composer run lint

New: dont ignore nebula-autoloader
  .gitignore
Due: none

Add a default maintenance page
  web/app/maintenance.php
Due: composer run lint

Clarify environment config
  .env.example
  config/application.php
  config/environments/development.php
Due: composer run lint

Path conditions:
  npm run lint:css: any of: *.scss
  npm run lint:js: (any of: *.js) or (any of: *.jsx)
  composer run lint: any of: *.php
